/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
input,textarea,select{*font-size:100%}
a {text-decoration: none;overflow: hidden;outline: none;}
a:-webkit-any-link {color: -webkit-link;cursor: auto;text-decoration: none;}
/*common*/
body{
    position: relative;
}
.bg{
    width: 100%;
    min-width: 1200px;
}
.layout{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    clear: both;
}
.logo{
    display: block;
    position: absolute;
    top:10px;
    left: 0;
}

/*footer*/
.footer_bg{
    position: absolute;
    bottom: 0;
    clear:both;
    font-size: 12px;
    background:url("ossweb-img/footer-bg.png") center top no-repeat;
    width: 100%;
    min-width: 1200px;
    z-index:5;
}
.gw_footer a,.gw_footer{color:#ffffff}
.gw_logo1 {background-position: -228px -49px;height: 35px; }
.gw_logo0 {background-position: -115px -49px;height: 38px;}
.gw_footer{padding:24px 0;*padding:24px 0;clear:both;text-align:center;overflow:hidden;margin:0 auto;line-height:20px}
.gw_footer *{margin:0;padding:0}
.gw_footer img{border:none}
.foot_l_p{height:40px}
.foot_r_p{width:621px}
.gw_footer .tn{text-indent:-9999em;overflow:hidden;display:block}
.foot_logo{width:166px;height:31px;margin-right:10px;overflow:hidden}
.foot_logo .glogo{width:166px;height:31px;overflow:hidden;background-repeat:no-repeat;_background:none}
.other_logo{overflow:hidden}
.other_logo a,.other_logo span{display:block;margin-right:10px}
.foot_r_p span{display:inline-block;margin:0 5px 0;*margin-bottom:7px;margin-bottom:0\0;width:1px;height:15px;overflow:hidden}
.gw_footer .e{text-align:left;height:19px;overflow:hidden;font-family:Tahoma}
.gw_footer .fl{float:left;font-size:11px;font-size:10px\9;line-height:19px}
.gw_footer .fr{float:right}
.gw_footer .license{padding-left:10px;clear:both;text-align:left;height:25px;line-height:25px}
.glogos{background:url("//ossweb-img.qq.com/images/js/foot_js/images/foot_logo_s.png") no-repeat;}
.glogoq{background:url("//ossweb-img.qq.com/images/js/foot_js/images/foot_logo_q.png") no-repeat;}
.xsj-logo { width:85px; height:35px; background-image:url(//game.gtimg.cn/images/jxqy/web201603/copy.png); text-indent:-9999px; margin-left:30px;}

.bg1{
    height: 594px;
    background: url("ossweb-img/bg_01.jpg") center top no-repeat;
}
.bg2{
    height: 693px;
    background: url("ossweb-img/bg_02.jpg") center top no-repeat;
}
.bg3{
    height: 674px;
    background: url("ossweb-img/bg_03.jpg") center top no-repeat;
}
.bg4{
    height: 911px;
    background: url("ossweb-img/bg_04.jpg") center top no-repeat;
    overflow: hidden;
}

.logo{
    position: absolute;
    top:20px;
    left:0;
    width: 174px;
    height: 90px;
    background: url("ossweb-img/logo.png") center center no-repeat;
}
.top-other {
    position: absolute;
    top:20px;
    right: 0;
    clear: both;
    zoom: 1;
    height: 32px;
    line-height: 32px;
}
.top-other .go-home{
    display: block;
    float: left;
    margin-right:10px;
    width: 113px;
    height: 31px;
    background: url("ossweb-img/gohome.png") center center no-repeat;
}
.top-other .share-title{
    float: left;
    margin-right:10px;
    font-size:16px;
    line-height: 32px;
    color: #4a7080;
}
.top-other .share-list{
    display: block;
    float: left;
}
.top-other .share-list li{
    float: left;
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    margin: 4px 1px;
    cursor: pointer;
}
.top-other li > img{
    width: 100%;
    height:auto;
}
.top-other li p{
    display: none;
    position: absolute;
    width: 110px;
    height: 110px;
    padding: 10px;
    top: 30px;
    left: 50%;
    margin-left: -65px;
    border-radius: 5px;
    background: #d6c2b3;
    background: rgba(255,255,255,.5);
}
.top-other li p img{
    width: 110px;
    height: 110px;
}
.btn-video{
    position: absolute;
    top: 280px;
    right: 330px;
    width: 73px;
    height: 84px;
    background: url("ossweb-img/btn-video.png") center center no-repeat;
}

.bg2 .layout{
    width: 1000px;
    overflow: hidden;
    text-align: center;
}
.bg2 .fl,.sidebar{
    float: left;
    width: 238px;
    padding-top:10px;
    padding-bottom:10px;
    *padding-top:10px;
    *padding-bottom:10px;
    border: 1px solid #c4cdd3;
    background: #f3f3f3;
}
.bg2 .fl img,.sidebar img{
    width: auto;
    height: auto;

}
.bg2 .fl p,.sidebar p{
    font-size:20px;
    color: #2f4f64;
    line-height:42px;
}
.bg2 .fl a img,.sidebar a img{
    width: auto;
    height:auto;
}

.bg2 .fr{
    float: right;
    width: 760px;
    height: 582px;
    background: url("ossweb-img/order-list-bg.png") center top no-repeat;
}
.title{
    text-align: center;
    font-size:40px;
    color: #a2524f;
    padding:20px 0;
    *padding: 20px 0;
    background: url("ossweb-img/title-bg.png") center center no-repeat;
}
.bg2 .fr img{
    margin: 5px 0;
}

.bg3 .layout{}
.scrolls{
    width: 100%;
    overflow: hidden;
    clear: both;
    zoom: 1;
    text-align: center;
}
.scrolls li{
    margin-right:5px;
    display: inline-block;
    *display: inline;
    overflow: hidden;
    cursor: pointer;
}
.scrolls li p{
    float: left;
    display: block;
    width: 90px;
    height: 485px;
    background: url("ossweb-img/scrolls-list-bg.png") center center no-repeat;
}
.scrolls li span{
    display: block;
    margin: 0 auto;
    color: #f35151;
    font-size:20px;
    width: 20px;
    line-height:24px;
    margin-bottom:10px;
}
.scrolls li img{
    display: none;
    float: left;
    position: relative;
    top:41px;
    height:405px;
}
.scrolls li.on img{
    display: inline-block;
}
.sidebar{
    display: none;
    position: fixed;
    left:5%;
    top:30%;
    text-align: center;
    width: 170px;
    z-index:999;
}
.sidebar .sidebar-logo{
    width: 70%;
}
.sidebar img{
    width: 88%;
}
.sidebar a img{
    width: 88%;
}
.sidebar p{
    font-size:16px;
}
.sidebar .return-home img{
    margin-top:5px;
}
/*bg4*/
.bg4 .layout{
    width:1000px;
}
.bg4 .fl{
    position: relative;
}
.bg4 .fl li{
    display: none;
}
.bg4 .fl li.on{
    display: block;
}
.bg4 .fl .explain{
    position: absolute;
    top:150px;
    left:0;
    z-index:4;
}
.bg4 .fl .model{
    position: absolute;
    z-index:3;
}
.bg4 .fl .model img{
    display: block;
}

.bg4 .fr{
    position: absolute;
    top:180px;
    right:0;
    width: 140px;
    overflow: hidden;
    clear: both;
    zoom: 1;
    z-index:5;
}
.bg4 .fr li{
    float: left;
    width: 66px;
    height: 77px;
    margin-right:4px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.bg4 .wud{
    background-image: url("ossweb-img/icon-wud.png");
}
.bg4 .wud.on{
    background-image: url("ossweb-img/icon-hover-wud.png");
}
.bg4 .sl{
    background-image: url("ossweb-img/icon-sl.png");
}
.bg4 .sl.on{
    background-image: url("ossweb-img/icon-hover-sl.png");
}
.bg4 .th{
    background-image: url("ossweb-img/icon-th.png");
}
.bg4 .th.on{
    background-image: url("ossweb-img/icon-hover-th.png");
}
.bg4 .cy{
    background-image: url("ossweb-img/icon-cy.png");
}
.bg4 .cy.on{
    background-image: url("ossweb-img/icon-hover-cy.png");
}
.bg4 .tw{
    background-image: url("ossweb-img/icon-tw.png");
}
.bg4 .tw.on{
    background-image: url("ossweb-img/icon-hover-tw.png");
}
.bg4 .gb{
    background-image: url("ossweb-img/icon-gb.png");
}
.bg4 .gb.on{
    background-image: url("ossweb-img/icon-hover-gb.png");
}
.bg4 .xy{
    background-image: url("ossweb-img/icon-xy.png");
}
.bg4 .xy.on{
    background-image: url("ossweb-img/icon-hover-xy.png");
}
.bg4 .wd{
    background-image: url("ossweb-img/icon-wd.png");
}
.bg4 .wd.on{
    background-image: url("ossweb-img/icon-hover-wd.png");
}
.bg4 .em{
    background-image: url("ossweb-img/icon-em.png");
}
.bg4 .em.on{
    background-image: url("ossweb-img/icon-hover-em.png");
}
.bg4 .tm{
    background-image: url("ossweb-img/icon-tm.png");
}
.bg4 .tm.on{
    background-image: url("ossweb-img/icon-hover-tm.png");
}
.bg4 .tr{
    background-image: url("ossweb-img/icon-tr.png");
}
.bg4 .tr.on{
    background-image: url("ossweb-img/icon-hover-tr.png");
}
.bg4 .kl{
    background-image: url("ossweb-img/icon-kl.png");
}
.bg4 .kl.on{
    background-image: url("ossweb-img/icon-hover-kl.png");
}
.dia-close {
    position: absolute;
    width: 51px;
    height: 51px;
    right: -52px;
    top: 0;
    text-indent: -9999px;
    cursor: pointer;
    background: url(ossweb-img/cross.png) left center no-repeat;
}
.dia-close:hover {
    background: url(ossweb-img/cross.png) right center no-repeat;
}